{# props: page_obj, is_paginated, query_params #}
{% with query_params=query_params|default_if_none:"" %}
  {% if is_paginated %}
    <nav class="mt-6 flex items-center justify-between gap-2 text-sm text-ink-500">
      {% if page_obj.has_previous %}
        <a
          href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.previous_page_number }}"
          class="underline"
          >Prev</a
        >
      {% endif %}
      <span class="text-sm">
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
      </span>
      {% if page_obj.has_next %}
        <a
          href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.next_page_number }}"
          class="underline"
          >Next</a
        >
      {% endif %}
    </nav>
  {% endif %}
{% endwith %}
